In [14]:
import pandas as pd
import numpy as np

# data = np.array(['a','b','c','d'])
data = {'a': 0.0, 'b': 0.1, 'c': 0.2}
s=pd.Series([5,3,2,8,6], index=['b','c','d','a','f'])

print(s['b'])

5

In [18]:
import pandas as pd
data = [['Zain',20,'0123456789'],['Amir',22,'0123555885'],['Farah',20,'0123666885']]
df = pd.DataFrame(data, columns=['Name', 'Age', 'Phone Number'])
print(df)

    Name  Age Phone Number
0   Zain   20   0123456789
1   Amir   22   0123555885
2  Farah   20   0123666885